{% extends "accounts/_auth_layout.html" %}
{% block title %}Change password | {{ site_name }}{% endblock %}
{% block icon %}bi-key{% endblock %}
{% block heading %}Change password{% endblock %}
{% block intro %}<p class="lx-muted mb-0">You'll stay logged in on this device.</p>{% endblock %}
{% block panel %}
<form method="post" novalidate>
  {% csrf_token %}
  {% include "partials/_form_errors.html" %}
  {% for field in form %}{% include "partials/_field.html" %}{% endfor %}
  <button type="submit" class="btn btn-primary btn-lg w-100 mt-2">Change password</button>
</form>
{% endblock %}
{% block after_panel %}{% endblock %}
